<h1>Edit product</h1>

{{> product product=product}}

{{#if product.graphicCard}}
  {{> editGraphicCard graphicCard=product.graphicCard}}
{{/if}}

{{#if product.ram}}
  {{> editRamMemory ramMemory=product.ram}}
{{/if}}

{{#if product.powerSupply}}
  {{> editPowerSupply powerSupply=product.powerSupply}}
{{/if}}

{{#if product.processor}}
  {{> editProcessor processor=product.processor}}
{{/if}}

{{#if product.case}}
  {{> editCase case=product.case}}
{{/if}}

{{#if product.coolingSystem}}
  {{> editCooling cooling=product.coolingSystem}}
{{/if}}

    <div class="form-actions">
      <input type="submit" value="Update" class="button submit-button">
    </div>
  </form>
</div>
