<h1>Edit product</h1>

{{> product product=product}}

{{#if product.graphicCard}}
  {{> editGraphicCard graphicCard=product.graphicCard}}
{{/if}}

    <div class="form-actions">
      <input type="submit" value="Update" class="button submit-button">
    </div>
  </form>
</div>
