.gallery {

}

.gallery-image-preview {
  width: 400px;
}

.gallery-images {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  padding: 1rem 0;
  overflow: auto;
}

.gallery-image {
  height: 100px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}
