.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;
}

.brand {
  font-size: 1rem;
  padding: 1rem 0;
  margin-bottom: 0;
}

.identify {
  margin-bottom: 1rem;
  background-color: #FFFF00AA;
  padding: 1rem;
  border-left: 4px solid #AAAA00;
  
  p {
    color: #000000;
    font-weight: $text-bold;
  }
}

body.admin {
  padding-top: 3rem;
  padding-left: calc(300px + 3rem);
}

.home-title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: darken($primary, 5);
  padding-bottom: 1rem;
  border-bottom: 1px solid $primary;
}
