$main-font: 'Nunito', sans-serif;

$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.35rem;

$text-font-size: 1rem;

$container-width: 100%;
$container-max-width: 960px;

$border-radius: 3px;

$box-shadow: 0 3px 5px rgba(0, 0, 0, .15), 0 3px 5px rgba(0, 0, 0, .35);

$text-regular: 400;
$text-bold: 700;

$transition-delay: .2s;

$background: #F8F8F8;
$on-background: #888888;

$primary: #00e676;
$on-primary: #000000;

$sub-menu-background: #232323;
$on-sub-menu-background: #CCCCCC;
$sub-menu-item-hover: #FFFFFF;

$text-color: #888888;

$gray-1: #EEEEEE;
