<h1>Chart</h1>
<ul>
{{#each products}}
  {{> commonProductListDetailChart product=this}}
{{/each}}
</ul>
<div class="total-price">
  <span>{{totalChartPrice}}€</span>
  <a href="/chart/buy">Buy</a>
</div>
