{{#with processor}}
<div class="product-specs">
  <section class="product-specs-section">
    <h2 class="product-specs-title">features</h2>
    <ul class="product-specs-list">
      <li class="product-spects-list-item"><strong>Family: </strong>{{processor.features.family}}</li>
      <li class="product-spects-list-item"><strong>Frequency: </strong>{{processor.features.frequency}}</li>
      <li class="product-spects-list-item"><strong>Socket: </strong>{{processor.features.socket}}</li>
      <li class="product-spects-list-item"><strong>Cores: </strong>{{processor.features.cores}}</li>
    </ul>
  </section>
</div>
{{/with}}