{{#with processor}}
<div class="product-specs">
  <section class="products-specs-list">
    <h2 class="products-specs-title">features</h2>
    <ul class="products-specs-list">
      <li class="products-spects-list-item"><strong>Family: </strong>{{processor.features.family}}</li>
      <li class="products-spects-list-item"><strong>Frequency: </strong>{{processor.features.frequency}}</li>
      <li class="products-spects-list-item"><strong>Socket: </strong>{{processor.features.socket}}</li>
      <li class="products-spects-list-item"><strong>Cores: </strong>{{processor.features.cores}}</li>
    </ul>
  </section>
</div>
{{/with}}