.nav {
  // overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: $primary;
  align-items: center;
  padding: 0 1rem;
}

.main-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.main-menu-item:not(:last-child) {
  margin-right: 1rem;
}

.main-menu a {
  color: $on-primary;
  font-weight: $text-bold;
  transition: color $transition-delay;

  &:hover {
    color: $sub-menu-item-hover;
  }
}

.main-menu-submenu-container {
  position: relative;
}

.sub-menu {
  list-style: none;
  position: absolute;
  top: 3rem;
  width: 300px;
  background-color: $sub-menu-background;
  padding: 1rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: none;
}

.sub-menu-visible {
  display: block;
}

.sub-menu-item:not(:last-child) {
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  border-bottom: 1px solid rgba(#FFFFFF, .5);
}

.sub-menu a {
  color: $on-sub-menu-background;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 300px;
  top: 0;
  height: 100vh;
  overflow: auto;
  background-color: #232323;
  padding: 2rem;
}

.admin-menu {
  list-style-type: none;
}

.admin-menu-item {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.admin-menu-link {
  color: #FFFFFF;
}

.admin-sub-menu {
  padding-left: 1rem;
  list-style-type: none;
}

.admin-sub-menu-item {

  &:first-child {
    margin-top: 1rem;
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.admin-sub-menu-link {
  color: $primary;
}
