{{#with product}}
<div class="product">

  {{#with productInfo}}
    <h2 class="product-model">{{model}}</h2>
    <p class="product-brand">{{brand}}</p>
    <p class="product-family">{{productFamily}}</p>
  {{/with}}
  
</div>
{{/with}}
