<p>{{product}}</p>

{{#if product.ram}}
<h2>Characteristics</h2>
<p>askjdasdh</p>
<h2>Energy</h2>
<p>aksjdhajsd</p>
<h2>Weight and dimensions</h2>
<p>alksdhakjsd</p>
{{> ramMemoryDetail product=product}}
{{/if}}

{{#if product.powerSupply}}
<h2>Energy PS</h2>
<p>alskdhakjsd</p>
<h2>Cooling PS</h2>
<p>alksdajhsd</p>
<h2>Weight and dimensions PS</h2>
<p>akjwdhajhsd</p>
{{/if}}

{{#if product.processor}}
<h2>Energy PS</h2>
<p>alskdhakjsd</p>
<h2>Cooling PS</h2>
<p>alksdajhsd</p>
<h2>Weight and dimensions PS</h2>
<p>akjwdhajhsd</p>
{{/if}}


{{#if product.graphicCard}}
<h2>Energy PS</h2>
<p>alskdhakjsd</p>
<h2>Cooling PS</h2>
<p>alksdajhsd</p>
<h2>Weight and dimensions PS</h2>
<p>akjwdhajhsd</p>
{{/if}}