{{> commonProductDetail product=product}}

{{#if product.ram}}
  <h2>RAM</h2>
{{/if}}

{{#if product.powerSupply}}
  <h2>Power supply</h2>
{{/if}}

{{#if product.processor}}
  <h2>Processor</h2>
{{/if}}


{{#if product.graphicCard}}
  <h2>Graphic card</h2>
{{/if}}

{{#if product.case}}
  <h2>Case</h2>
{{/if}}

{{#if product.motherBoard}}
  <h2>Case</h2>
{{/if}}

{{#if product.coolingSystem}}
  <h2>Case</h2>
{{/if}}